@page
@model PizzaPros.Pages.Customer.Home.DetailsModel
@{
}



<div class="">
    <form method="post">
        <input type="hidden" asp-for="ShopingCartObj.PizzaTypeId" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
 

        <div class="container backgroundWhite">
            <div class="card">
                <div class="card-header bg-light text-light ml-0 row container">
                    <div class="container-fluid">
                        <div class="row">

                            @if (Model.ShopingCartObj.PizzaType.PizzaSize.Size == "xlarge")
                            {
                                <div class="col-md-4">
                                    <div class="text-white text-center float-left">
                                        <h4><b><span class="dot dot-yellow" style="line-height: normal;">XL</span></b></h4>
                                    </div>
                                </div>
                            }
                            else if (Model.ShopingCartObj.PizzaType.PizzaSize.Size == "large")
                            {
                                <div class="col-md-4">
                                    <div class="text-white text-center float-left">
                                        <h4><b><span class="dot dot-green" style="line-height: normal;">L</span></b></h4>
                                    </div>
                                </div>
                            }
                            else if (Model.ShopingCartObj.PizzaType.PizzaSize.Size == "medium")
                            {
                                <div class="col-md-4">
                                    <div class="text-white text-center float-left">
                                        <h4><b><span class="dot dot-blue" style="line-height: normal;">M</span></b></h4>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    <div class="text-white text-center float-left">
                                        <h4><b><span class="dot dot-red" style="line-height: normal;">S</span></b></h4>
                                    </div>
                                </div>
                            }
                            <div class="col-md-4">
                                <h1 class="text-primary font-weight-light text-capitalize">@Model.ShopingCartObj.PizzaType.Name</h1>
                            </div>
                            <div class="col-md-4 text-md-right">
                                <h1 class="text-muted"> @((Model.ShopingCartObj.PizzaType.Price).ToString("c"))</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="row">

                                    <div class="col-12">
                                        @if (Model.ShopingCartObj.PizzaType.PizzaCrustFlavor.CrustFlavor == "no crust flavor")
                                        {
                                            <p class="text-capitalize h5">
                                                <Span>@Model.ShopingCartObj.PizzaType.PizzaSize.Size </Span> @(Model.ShopingCartObj.PizzaType.PizzaCrustType.CrustType).
                                            </p>

                                        }
                                        else
                                        {
                                            <p class="capFirstLetter h5">
                                                <Span>@Model.ShopingCartObj.PizzaType.PizzaSize.Size </Span> <span class="text-capitalize">@(Model.ShopingCartObj.PizzaType.PizzaCrustType.CrustType)</span> with
                                                <span class="text-capitalize">@(Model.ShopingCartObj.PizzaType.PizzaCrustFlavor.CrustFlavor)</span> crust flavor.
                                            </p>
                                        }

                                        <p class="text-dark">
                                            @Html.Raw(Model.ShopingCartObj.PizzaType.Description)
                                        </p>
                                        <div class="row py-4">
                                            <div class="col-2"><label asp-for="ShopingCartObj.Count" class="h5"></label></div>
                                            <div class="col-2">
                                                @Html.DropDownListFor(m => m.ShopingCartObj.Count, Enumerable.Range(1, 20)
                                               .Select(i => new SelectListItem { Text = i.ToString(), Value = i.ToString() }))
                                                <span asp-validation-for="ShopingCartObj.Count" class="text-danger"></span>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <div class="card-body py-0 w-100 d-none d-md-block d-lg-none d-lg-block d-xl-none d-xl-block">
                                    <div class="card card-product d-flex flex-column py-0 border-0">
                                        <h4 class="text-center bg-primary text-white py-2">Toppings Included</h4>
                                        <ul class="list-group list-group-flush text-left card-block">
                                            @foreach (var item in Model.PizzaTypeList.Where(t => t.Id == Model.ShopingCartObj.PizzaTypeId))
                                            {
                                                @foreach (var toppingItem in Model.ToppingsList.Where(i => i.Id == item.ToppingOneId
                                                                                             || i.Id == item.ToppingTwoId
                                                                                             || i.Id == item.ToppingThreeId
                                                                                             || i.Id == item.ToppingFourId
                                                                                             || i.Id == item.ToppingFiveId
                                                                                             || i.Id == item.ToppingSixId
                                                                                             || i.Id == item.ToppingSevenId
                                                                                             || i.Id == item.ToppingEightId
                                                                                                              ))
                                                {
                                                    <li class="list-group-item border-0 py-0 text-capitalize text-break">@toppingItem.Name</li>

                                                }
                                            }
                                        </ul>

                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4 p-1 text-center">
                                <img src="@Model.ShopingCartObj.PizzaType.Image" width="100%" class="rounded" />
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1 text-center text-nowrap text-decoration-none ">
                            <a asp-page="Index" class="btn-product red btn-square form-control btn-lg" style="height:50px; line-height: 1; text-decoration: none;">Back to List</a>
                        </div>
                        <div class="col-12 col-md-6 text-center text-nowrap">
                            <button type="submit" class=" btn-product red btn-square form-control btn-lg" style="height:50px; line-height: 1;">Add to Cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />

}