@page
@model PizzaPros.Pages.Customer.Home.IndexModel
@{
}


@foreach (var category in Model.CategoryList)
{
    @foreach (var toppingType in Model.ToppingTypeList)
    {
        var PizzaCatCount = Model.PizzaTypeList.Where(c => c.CategoryId == category.Id).Count();
        var PizzaTypeCount = Model.PizzaTypeList.Where(t => t.ToppingTypeId == toppingType.Id).Count();

        @if (PizzaCatCount > 0 && PizzaTypeCount <= 3 && PizzaTypeCount > 0 && PizzaTypeCount <= 3)
        {
            <div class="row container pb-3 backgroundWhite">
                <div class="col-12">
                    <div class="row ">
                        <h2 class="text-primary text-capitalize font-weight-light pl-1"><b>@toppingType.Name @category.Name<span>s</span> </b></h2>
                        <div class="col-12">
                            <div class="row my-3">
                                @foreach (var menuItem in Model.PizzaTypeList.Where(c => c.ToppingTypeId == toppingType.Id))
                                {
                                    <div class="col-md-4 pb-4">
                                        <div class="card-body h-100">
                                            <div class="card card-product  h-100">
                                                <div class="rounded-lg">
                                                    <img src="@menuItem.Image" class="card-img-top rounded " />
                                                </div>
                                                <div class="card-body d-flex flex-column py-0 ">
                                                    <ul class="list-group list-group-flush overflow-hidden text-left card-block">
                                                        <li class="list-group-item border-0 py-0 "><h4 class="card-title text-capitalize "><b>@menuItem.PizzaSize.Size</b></h4></li>
                                                        <li class="list-group-item border-0"><h4 class="card-title text-capitalize"><b>@menuItem.Name</b></h4></li>
                                                        <li class="list-group-item border-0"><div class="text-left font-weight-light text-primary @( menuItem.Price > 99 ? "h6" : "h5" )"><b>$@menuItem.Price</b></div></li>
                                                    </ul>
                                                    <a asp-page="Details" class=" btn-product red mt-auto text-center text-nowrap text-decoration-none" asp-route-id="@menuItem.Id">Details</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @if ((PizzaCatCount >= 4) && (PizzaTypeCount >= 4))
        {
            <div class="container text-left my-3">
                <h2 class="text-primary text-capitalize font-weight-light pl-1"><b>@toppingType.Name @category.Name<span>s</span> </b></h2>
                <div class="row mx-auto my-auto">
                    <div id="@string.Format("productCarousel{0}",toppingType.Id)" class="productSlide carousel slide carousel-fade w-100" data-ride="carousel">
                        <div class="carousel-inner w-100" role="listbox">
                            @{
                                var i = 0;
                                @foreach (var menuItem in Model.PizzaTypeList.Where(c => c.ToppingTypeId == toppingType.Id))
                                {
                                    var itemClass = i++ == 0 ? "carousel-item active" : "carousel-item";
                                    <div class="@itemClass">
                                        <div class="col-md-4">
                                            <div class="card-body h-100">
                                                <div class="card card-product h-100">
                                                    <div class="rounded-lg">
                                                        <img src="@menuItem.Image" class="card-img-top rounded" />
                                                    </div>
                                                    <div class="card-body d-flex flex-column py-0 ">
                                                        <ul class="list-group list-group-flush overflow-hidden text-left card-block">
                                                            <li class="list-group-item border-0 py-0 "><h4 class="card-title text-capitalize "><b>@menuItem.PizzaSize.Size</b></h4></li>
                                                            <li class="list-group-item border-0"><h4 class="card-title text-capitalize"><b>@menuItem.Name</b></h4></li>
                                                            <li class="list-group-item border-0"><div class="text-left font-weight-light text-primary @( menuItem.Price > 99 ? "h6" : "h5" )"><b>$@menuItem.Price</b></div></li>
                                                        </ul>
                                                        <a asp-page="Details" class=" btn-product red mt-auto text-center text-nowrap text-decoration-none" asp-route-id="@menuItem.Id">Details</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                        <a class="carousel-control-prev w-auto" href="@string.Format("#productCarousel{0}",toppingType.Id)" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next w-auto" href="@string.Format("#productCarousel{0}",toppingType.Id)" role="button" data-slide="next">
                            <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        }
    }
}


@section Scripts{
    <script src="~/js/slider.js"></script>
}


