@page
@model PizzaPros.Pages.Customer.Cart.IndexModel
@{
    ViewData["Title"] = "Shopping Cart";
}

<form method="post">

    <br />
    @if (Model.OrderDetailsCartVM.listCart.Count > 0)
    {
        <input asp-for="@Model.OrderDetailsCartVM.listCart[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-light text-success ml-0 row container">
                        <div class="col-6 h4 text-nowrap">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Shopping Cart
                        </div>
                        <div class="col-6 text-right">
                            <a asp-page="../Home/Index" class="btn popup-button-primary text-center btn-product red text-decoration-none">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="card-body">
                        @foreach (var item in Model.OrderDetailsCartVM.listCart)
                        {
                            <div class="row">
                                <div class="d-none d-lg-block col-lg-2 text-center py-2">
                                    <img src="@item.PizzaType.Image" class="rounded card-product" style="height:100px!important; border: none!important;" />
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-left">
                                    <h4 class="text-capitalize">@item.PizzaType.Name @item.PizzaType.Category.Name </h4>
                                </div>
                                <div class="col-12 text-sm-center col-lg-5 text-lg-right row">
                                    <div class="col-4 text-md-right" style="padding-top:5px;">
                                        <h6><strong>$@item.PizzaType.Price <span class="text-muted">x</span> @item.Count </strong></h6>
                                    </div>
                                    <div class="col-6 col-sm-4 col-lg-6">
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn popup-button-primary" asp-page-handler="plus" asp-route-cartid="@item.Id">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="float-right mx-1">
                                            <button type="submit" class="btn popup-button-danger" asp-page-handler="minus" asp-route-cartid="@item.Id">
                                                <i class="fas fa-minus"></i>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="col-2 col-sm-4 col-lg-2 text-right">
                                        <button type="submit" class="btn btn-outline-danger" asp-page-handler="remove" asp-route-cartid="@item.Id">
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <hr />
                        }


                        <div class="row">
                            <div class="col-12 col-md-5">

                            </div>
                            <div class="col-12 col-md-6 offset-md-1 col-lg-4 offset-lg-3 pr-4">
                                <ul class="list-group">
                                    <li class="list-group-item d-flex justify-content-between bg-light">
                                        <span class="text-info"> Total (USD)</span>
                                        <strong class="text-info">$<span id="txtOrderTotal">@Model.OrderDetailsCartVM.OrderHeader.OrderTotal.ToString("#,##0.00")</span></strong>
                                    </li>
                                </ul>
                            </div>
                        </div>


                    </div>
                    <div class="card-footer">
                        <div class="col-12 col-lg-4 offset-lg-8 col-md-6 offset-md-6">
                            <a asp-page="Summary" class="popup-button form-control btn-product green text-decoration-none text-center" style="line-height: 1;">Summary</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <div>
            Please add items to shopping cart.
        </div>
    }

</form>
